

.product {
  background-color: var(--white);
  border-radius: 5px;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.product__image {
  width: 100px;

  img {
    width: 100%;
    object-fit: contain;
  }
}

.product__title {
  flex-grow: 1;
  text-transform: uppercase;
  line-height: 20px;
  
  h2, h3 {
    font-weight: normal;
  }
}

.product__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: var(--small);
}

.info-quantity {
  display: flex;
  justify-content: center;
  
  > * {
    font-weight: bold;
    font-size: var(--small);
    line-height: 30px;
    width: 30px;
    text-align: center;
    background-color: var(--orange);
    border: solid 1px var(--white);
    color: var(--white)
  }

  div {
    user-select: none;
  }

  button:hover {
    filter: brightness(1.3);
  }
}