
.pagination__container {
  display: flex;
  margin: 30px;
}

.pagination__item {
  width: 35px;
  line-height: 35px;
  text-align: center;
  font-size: var(--small);
  font-weight: bold;
  border: solid 1px var(--gray);
  background-color: var(--orange);
  color: var(--white);

  svg {
    vertical-align: middle;
  }
}