
.product {
  width: 100%;
  background-color: var(--bg-product);
  box-shadow: 0px 1px 2px 2px var(--gray);
}

.product__title {
  padding: 0 15px;
  height: 50px;
  font-size: var(--small);
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  height: 50px;
  border-top: solid 1px var(--gray);
}

.product__image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--medium);

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &:after {
    content: '';
    display: block;
    padding-bottom: 115%;
  }
}

.product__price {
  font-size: var(--small);
}

.product__cart {
  width: 30px;
  height: 30px;
  background-color: var(--orange);
  border-radius: 50%;
  
  svg {
    fill: var(--white);
    width: 50%;
    height: 50%;
    transform: translate(0px, 2px);
  }
}